$bg-color: #004980;
$modal-color: #c2f5ff;
$btn-color: #7ac100;
$color-for-level-buttons: #0080c1;
$level-buttons-bg-color: #fff;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: StratosSkyeng, sans-serif;
  font-weight: 400;
  src: url("/src/fonts/stratosskyengweb-semilight.woff2") format("woff2"),
    url("/src/fonts/stratosskyengweb-semilight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: StratosSkyeng, sans-serif;
}

.screen {
  min-height: 774px;
  width: 1024px;
  background-color: $bg-color;
}

.window {
  height: 774px;
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background-color: $modal-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__title {
    width: 250px;
    color: #004980;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
  }
}

.button {
  width: 246px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: $btn-color;
  color: #fff;
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  cursor: pointer;
}

.difficulty {
  display: flex;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: $level-buttons-bg-color;
    color: $color-for-level-buttons;
    font-family: sans-serif;
    font-style: normal;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

    &_selected {
      transform: scale(1.05);
      box-shadow: 10px 5px 5px $color-for-level-buttons;
    }
  }
}

.game {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  display: flex;
  align-items: end;
  color: #fff;

  &__min,
  &__sec {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__label {
    font-size: 16px;
  }

  &__value {
    font-size: 64px;
    line-height: 64px;
  }
}

.field {
  display: grid;
  justify-items: center;
}

.cart {
  margin: 10px 0;
  cursor: pointer;

  &__front,
  &__back {
    width: 95px;
    height: 133px;
  }

  &__front_hidden,
  &__back_hidden {
    display: none;
  }
}
